*{
  margin:0px;
  padding: 0px;

}

.wraper {
  max-width: 1200px;
  margin: auto;
  height: inherit;
}

.content {
  background-color: white;
  /* height: 530px; */
  padding: 0px 0px;
  overflow: hidden;
  margin:auto;
}

.pirma{
  width: 100%;
  color: black;
  padding:10px 10px;
  margin:0px auto;
  border: 2px solid grey;
  border-spacing: 20px;
  text-align: center;
  font-size: 20pt;
}
.pirma th, tr, td {
  color: black;
  padding:10px 10px;
  margin:0px auto;
  border: 3x solid grey;
  border: 1px solid grey;
  
}

.antra{
width: 100%;
padding: 10px 10px;
margin: 10px 20px;
border: 3x solid grey;
border-collapse: collapse;
text-align: center;
border-top:double;
font-size: 20pt;
}

 .antra th, tr, td {
  width: auto;
    padding:20px 20px;
    margin: auto;
  border: 1px solid grey;
 }

 #spalva {
  background-color: rgb(203, 194, 194);
 }
 
 #kita{
  width: 1%;
 }

 .trecia{
  width: auto;
  margin:auto;
  border-collapse: collapse;
  padding:auto;
  border: 1px solid grey;
  
 }

 .trecia th{
  width: auto;
  background-color: rgb(192, 214, 244);
  border: 1px solid grey;
  padding:5px;
  color:rgb(48, 48, 187);
 }
  .trecia tr{
text-align: left;
padding: 0px 0px;
width: auto;
  }



.trecia td{
  width: auto;
  color: black;
  text-align: right;

   padding-bottom: 0px;
   padding-right: 5px;
}
.trecia .block {
  width: auto;
text-align:center;
padding:0px;
}
  
